/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, /*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
/*    font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 300px;
}

/*
    We set up <body> styles with default font and nice gradient in the background.
*/
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(240, 240, 240);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(250, 250, 250)), to(rgb(220, 220, 220)));
    background: -webkit-radial-gradient(rgb(250, 250, 250), rgb(220, 220, 220));
    background: -moz-radial-gradient(rgb(250, 250, 250), rgb(220, 220, 220));
    background: -ms-radial-gradient(rgb(250, 250, 250), rgb(220, 220, 220));
    background: -o-radial-gradient(rgb(250, 250, 250), rgb(220, 220, 220));
    background: radial-gradient(rgb(250, 250, 250), rgb(220, 220, 220));

	/*cursor: move;*/
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }


/*
    ... and give links a nice look.
*/
a {
	color: #00A6EB;
	text-decoration: none;
    border-radius: 0.2em;
}

a:hover,
a:focus {
    background: #F28E0077;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.5;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

body {
	cursor: url("../figures/cursor.png"), auto;
}

.step {
    position: relative;
    width: 1300px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 30px;
    line-height: 1.5;
}

.future {
	opacity: 0;
	transition: opacity 0.5s;
}

.active {
	opacity: 1;
	transition: opacity 0.5s;
}

.past .vanishPast {
	opacity: 0;
	transition: opacity 0.5s;
}

.past.vanishPast {
	opacity: 0;
	transition: opacity 0.5s;
}

#title {
	text-align: center;
}

#disclaimer {
	position: absolute;
	right: 0;
	color: #cc0000;
	margin-top: -150px;
	padding: 10px;
	border: 2px solid;
	border-radius: 15px;
}

#author {
	text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
	margin: 30px;
}

.center {
	text-align: center;
}

.centerLeft {
	text-align: center;
	margin-right: 270px;
}

.small {
	font-size: 22px;
}

.orange {
	color: #F28E00;
}

h1 {
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	line-height: 1.2;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 25px;

	border: 2px solid;
	border-radius: 15px;
	border-color: #00A6EB;
	color: #00A6EB;
}

h2 {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.2;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 15px;

	border: 2px solid;
	border-radius: 15px;
	border-color: #00A6EB;
	color: #00A6EB;
}

h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 40px;
	display: flex;
	color: #00A6EB;
}

.h3span {
	padding: 3px 15px;
	border: 2px solid;
	border-image: linear-gradient(to right, #00A6EB 0%, #00A6EB 5%, transparent 6%, transparent 94%, #00A6EB 95%, #00A6EB 100%);
	border-image-slice: 1;
}

h3::before, h3::after{
	content: "";
	flex: 1;
	align-self: center;
	border: 2px solid #00A6EB;
	border-width: 2px 0px 0px;
	height: 0;
}

table.tablePNPM {
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.tablePNPM thead th {
	padding: 8px;
	border: 1px solid #00A6EB;
	background-color: #00A6EB44;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	outline: 0;
}

.tablePNPM thead th:empty {
	background: transparent;
	border: none;
}

.tablePNPM tbody th {
	padding: 8px;
	border: 1px solid #00A6EB;
	background-color: #00A6EB44;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position:relative;
	outline: 0;
}

.tablePNPM tbody td {
	padding: 6px;
	text-align: center;
	background-color: #00A6EB11;
	border: 2px solid #00A6EB11;
	border-radius: 2px;
	position:relative;
	outline: 0;
}


.tablePNPM thead tr::hover {
	background-color: #F28E00;
}

.tablePNPM tbody tr:hover {
	background-color: #F28E00;
}

.tablePNPM tbody td:hover::after,
.tablePNPM thead th:not(:empty):hover::after,
.tablePNPM tbody th:hover::after {
	content: "";
	position: absolute;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
}

.tablePNPM tbody td:hover::after,
.tablePNPM thead th:not(:empty):hover::after {
	background-color: #F28E00;
}

.tablePNPM tbody td:hover {
	border-color: black;
}

hr {
	background-color: #00A6EB;
	width: 100%;
	height: 2px;
	margin-top: 0px;
	padding-top: 0px;
	border: none;
}

ol, ul {
    list-style: none;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul li ul li {
	font-size: 27px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F28E00; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.ref {
	position: relative;
	float: right;
	text-align: right;
	color: #00A6EB;
}

.refInline {
	color: #00A6EB;
}

.refParent {
	height: 30px;
}

.boxed {
	border: 2px solid;
	border-radius: 15px;
	border-color: #00A6EB;
}

.centerBox {
	display:inline-block;
	text-align:center;
	border: 2px solid;
	border-radius: 15px;
	border-color: #00A6EB;
	padding: 10px;
	margin: 5px;
}

.margin-top50 {
	margin-top: 50px;
}

.margin-bottom30 {
	margin-bottom: 30px;
}

.margin-bottom80 {
	margin-bottom: 80px;
}

.margin-bottom120 {
	margin-bottom: 120px;
}

.margin-bottom150 {
	margin-bottom: 150px;
}

#title #scatteringFig {
	position: absolute;
	width: 400px;
	top: 270px;
	left: 0px;
}

#title #orbitFig {
	position: absolute;
	width: 350px;
	top: 220px;
	right: -20px;
}

#slacFig {
	width: 350px;
	vertical-align: middle;
}

#desyFig {
	margin-left: 100px;
	margin-right: 100px;
	width: 200px;
	vertical-align: middle;
}

#kawFig {
	margin-left: 25px;
	margin-right: 25px;
	width: 300px;
	vertical-align: middle;
}

#ercFig {
	position: absolute;
	left: 390px;
	top: 450px;
	width: 150px;
}

#euFig {
	position: absolute;
	left: 770px;
	top: 470px;
	width: 150px;
}

#main #mainFig {
	width: 1100px;
}

#pmeft2 #graphsEFTFig {
	width: 850px;
	margin-left: 300px;
}

#pmeft4 #scatteringFig {
	width: 400px;
}

#orbitEl1 #scatteringFig {
	width: 400px;
	vertical-align: middle;
}

#orbitEl1 #orbitFig {
	width: 350px;
	vertical-align: middle;
}

#orbitGif #gif {
	width: 400px;
}

#B2B2 #rP {
	position: absolute;
	top: 170px;
	left: 590px;
}

#B2B2 #rM {
	position: absolute;
	top: 265px;
	left: 590px;
}

#B2B2 #intPeriastron {
	position: absolute;
	top: 190px;
	left: 890px;
}

#tidal #tidalFig {
	width: 600px;
}

#final #mainFig {
	width: 1100px;
}
